@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.App {
    text-align: center;
}

body {
    background: rgb(101, 142, 205);
    background: radial-gradient(circle, rgba(101, 142, 205, 1) 0%, rgba(24, 78, 164, 1) 100%);
    background-attachment: fixed;
}

.main-page {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    border-top: #ffe031 solid 2px;
    font-weight: 500;
    margin: auto;
    justify-content: center;
    background: rgb(255, 244, 180);
    background: radial-gradient(circle, rgba(255, 244, 180, 1) 0%, rgba(255, 224, 49, 1) 100%);
    height: 40px;
    z-index: 0;
}

a:link {
    text-decoration: none;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 30px 0px 20px 0px;
    font-weight: 800;
}

h2 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    margin: -5px 0px 10px 0px;
    font-weight: 700;
}
h3 {
    color: white;
    text-shadow: 2px 2px black;
    margin: -5px 0px 10px 0px;
    font-weight: 600;
}

/*Products Page*/
.product-card {
    text-align: center;
    background-color: #eeeeee;
    border: #396bba solid 2px;
    border-radius: 20px;
    margin: 5px;
}

.list-name {
    font-weight: 600;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.list-price {
    color: #929292;
    padding: 0px 0px 10px 0px;
}

.poke-list {
    margin: auto;
    justify-content: center;
}

/*Details Page*/
.details-image {
    margin: auto;
    background-color: #eeeeee;
    border: #396bba solid 2px;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 25%;
}

.accessory-images {
    justify-content: center;
    margin: auto;
}

.accessory-image {
    background-color: #eeeeee;
    border: #396bba solid 2px;
    width: 125px;
    border-radius: 25%;
    margin: 5px;
}

/*Shopping Cart*/
.cart-card {
    background-color: #eeeeee;
    border: #396bba solid 2px;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}

.cart-image {
    background: white;
    height: 100px;
    width: 100px;
    justify-content: center;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 10px;
}

.cart-name {
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0px 0px 300px
}

.cart-price {
    text-align: right;
    font-size: 18px;
    font-weight: 300;
    padding: 35px 35px 0px 0px
}

.cart-total {
    text-align: right;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: 600;
    font-size: 25px;
    padding: 15px 35px 0px 0px;
}

.buy-button {
    margin: 30px 0px 0px 0px
}


/*Homepage*/
.homepage-caption {
    font-size: 3em;
    margin-top: 6vw;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: 700;
}

.carousel {
    margin: 70px 0px 0px 0px;
}